/BackEnd/Learning/.vs
/BackEnd/Learning/Learning/obj
/BackEnd/Learning/Learning/bin
/BackEnd/Learning/Learning.Data/bin
/BackEnd/Learning/Learning.Data/obj
/BackEnd/Learning/Learning.IService/bin
/BackEnd/Learning/Learning.Repository/bin
/BackEnd/Learning/Learning.Service/bin
/BackEnd/Learning/Learning.IRepository/bin
/BackEnd/Learning/Learning.IRepository/obj
/BackEnd/Learning/Learning.IService/obj
/BackEnd/Learning/Learning.Repository/obj
/BackEnd/Learning/Learning.Service/obj
/.vs
